.container {
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        cursor: pointer;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    .wrapper {
        display: grid;
        grid-template-columns: 60% 40%;
        width: 700px;
        margin: auto;
    }
    .not-bold {
        span {
            font-weight: 200;
        }
    }
        p {
            width: 450px;
            a {
                text-decoration: none;
                color: #000;
            }
            span {
                font-weight: bold;
            }
    }
    .similar-movies-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        .similar-movies {
            .description {
                padding-top: 50px;
            }
            display: grid;
            grid-template-columns: 40% 60%;
            width: 700px;
            margin: auto;
            }
            p {
                width: 450px;
                span {
                    font-weight: bold;
                }
        }
    }
}