.container {
    h1 {
        text-align: center;
    }
    h2 {
        text-align: center;
        cursor: pointer;
        a {
            text-decoration: none;
            color: #000;
        }
    }
    .wrapper {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 700px;
        margin: auto;
        }
        p {
            width: 450px;
            span {
                font-weight: bold;
            }
    }
    .similar-movies {
        display: grid;
        grid-template-columns: 40% 60%;
        width: 700px;
        margin: auto;
        }
        p {
            width: 450px;
            span {
                font-weight: bold;
            }
    }
}