html {
    overflow-x: hidden;
}

h1 {
    text-align: center;
}
.container-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    .container {
        img {
            cursor: pointer;
        }
        h2 {
            text-align: center;
            cursor: pointer;
            a {
                text-decoration: none;
                color: #000;
            }
        }
        .wrapper {
            display: grid;
            grid-template-columns: 60% 40%;
            width: 400px;
            margin: auto;
            }
            p {
                width: 450px;
                span {
                    font-weight: bold;
                }
        }
    }
}

@media (max-width: 950px) {
    #container-wrapper {
        grid-template-columns: 1fr;
    }
}
